body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.profile-card {
    margin: auto;
    width: 60%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.profile-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: auto;
}
.profile-card h2 {
    text-align: center;
}
.profile-card h3 {
    text-align: center;
    color: #888;
    margin-bottom: 20px;
}
.profile-card p {
    text-align: justify;
    margin-top: 30px;
}
.profile-card ul {
    margin-top: 30px;
}
#title {
    color: green;text-align: center; font-family: '黑体', sans-serif;;
  }
#content {
    
    color: black; 
    line-height: 3;
    font-family: 'SimSun', sans-serif;
    max-width: 700px; /* 设置了正文的最大宽度 */
    margin: 0 auto; /* 自动将上下的边距设为0，并将左右的边距设为自动，从而使内容在中心 */
    text-indent: 2em
    
  }
  #content1 {
    
    color: black; 
    line-height: 3;
    font-family: 'SimSun', sans-serif;
    max-width: 700px; /* 设置了正文的最大宽度 */
    margin: 0 auto; /* 自动将上下的边距设为0，并将左右的边距设为自动，从而使内容在中心 */
    text-indent: 10em
    
  }
  #content0 {
    
    color: grey; 

    line-height: 3;
    font-family: 'SimSun', sans-serif;
    max-width: 700px; /* 设置了正文的最大宽度 */
    margin: 0 auto; /* 自动将上下的边距设为0，并将左右的边距设为自动，从而使内容在中心 */
    text-indent: 15em
    
  }